@import url("https://fonts.googleapis.com/css?family=MontSerrat");

header{
    display: inline;

}

img{
    width: 50%;
    
}

/* ul li{
    display: inline;
    color: black; ajustar pra branco depois
} */

h1 img{
    width: 10%;
    
}

#header ul {
    padding: 0px;
    margin: 0px;
    background-color: transparent;
    list-style: none;

}

#header ul li {
    display: inline;
}

#header ul li a {
    background-color: transparent;
    display: inline-block;
    color: #000;
    padding: 13px;
    border-bottom: 2px solid #000;
}

#header ul li a:hover {
    background-color: #fff;
    color: #000;
    border-bottom: 2px solid #fff;
}